@font-face {
    font-family: 'PokeFont';
    src: url('./assets/font/Pokemon_Solid.ttf') format('truetype'),
        url('./assets/font/Pokemon_Solid.ttf') format('woff'),
        url('./assets/font/Pokemon_Solid.ttf') format('woff2');
}
#input {
    width: 30vw !important;
    height: 5vh;
    margin-right: .5vw;
}
.pokemon-details-h1 {
    color: white !important;
    font-family: 'PokeFont', sans-serif;
    
}

body {
    font-family: 'Courier New', Courier, monospace;
    /* background: radial-gradient(circle, #31363F 0%, #31363F 20%, #222831 100%); */
    margin: 0;
    background: #424242 url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);;
    
}
.navbar {
    background: transparent !important;
}
.page-link {
    display: inline-block;
    margin-right: 5px;
}

.pokedexLogo {
    height: 200px;
}

.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Horizontally center the cards */
    align-items: center;
    /* Vertically center the cards */
    margin: 0 auto;
    /* Center the container itself */
}

.card {
    flex: 0 0 auto;
    margin: 10px;
}

.card {
    /* Adjust other styles as needed */
    border: thin;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}
.navbar-toggler {
    background-color: white;
}

/* Input field */
#input {
    border: 2px solid #2a75bb; /* Border color and width */
    border-radius: 8px; /* Rounded corners */
    padding: 8px 12px; /* Padding inside the input field */
    font-size: 16px; /* Font size */
    outline: none; /* Remove outline on focus */
    transition: border-color 0.3s;

}

#input:focus {
    border-color: #ffcc00; /* Change border color on focus */
}

/* Secondary outline button */
.btn-outline-secondary {
    color: #333;
    border: 2px solid #2a75bb;
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s; /* Smooth transition for all properties */
}

.btn-outline-secondary:hover {
    background-color: #ffcc00; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
    border-color: #ffcc00; /* Change border color on hover */
    transform: scale(1.05); /* Scale up the button on hover */
}

/* Optional: Add a subtle shadow effect to the input field and buttons */
#input, .btn-outline-secondary {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* Optional: Add a transition for the shadow effect */
#input, .btn-outline-secondary {
    transition: box-shadow 0.3s; /* Smooth transition for box-shadow */
}


#loading-spinner {
    display: none;
}

#loading-spinner .spinner-pokemon {
    border: 8px solid #ffcc00;
    border-top: 8px solid #333;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading-spinner .visually-hidden {
    font-size: 0;
    color: transparent;
}

#pagination-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.card:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.pagination {
    margin-top: 20px;
}

.page-item {
    margin-right: 5px;
}

.page-link {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.container {
    padding-top: 50px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.loading-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#errorMsg {
    color:crimson;
    margin-right: 20px;
    font-weight: bolder;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer .social-icons a {
    font-size: 24px;
    margin: 0 10px;
    color: white;
    transition: all 0.3s ease;
}

.footer {
    color: black;
}

.footer .social-icons a:hover {
    transform: scale(1.2);
    color: #ffcc00;
}

#evolveImg:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.pokemon-type {
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
    color: white;
}

.card-suit {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 16px;
    font-weight: bold;
}

#forward_input {
    border-radius: 90%;
    text-align: center;
    border-width: thick;
    border-color: #2a75bb
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.stats p {
    color: #404060;
}

.hp span,
.types span {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
}

.types span {
    padding: 5px 20px;
    border-radius: 20px;
    color: #ffffff;
}

.hp {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 400;
}

#prevx,
#nextx {
    flex: 1; /* Equal width */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position:relative;
    top: 50rem;
}

/* Styles for screens with a maximum width of 768 pixels (typical for tablets and mobile devices) */
@media only screen and (max-width: 768px) {
    
    body {
        font-size: 14px;
    }
    
    .header {
        padding: 10px;
    }
    .pokedexLogo {
        width: 70vw;
    }
    #input {
        height: auto;
        margin-right: 2px;
        margin-left: 20px;
    }

    .card-mobile {
        width: 20rem !important;
        
    }
    #prevx,
    #nextx {
        display: none !important;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: center;
    }
    .card-mobile {
        width: 100%; /* Adjust width to fit mobile screens */
    }
    .card-mobile .card-title {
        font-size: 1.5em; /* Increase font size for card title */
    }
    .card-mobile .pokemon-type {
        font-size: 1em; /* Adjust font size for type labels */
    }
    .card-mobile .card-text {
        font-size: 0.9em; /* Adjust font size for card text */
    }
    .card-mobile .stats {
        margin-top: 1em; /* Add spacing at the top of stats section */
    }
    .card-mobile .stats h3 {
        font-size: 1em; /* Adjust font size for stat numbers */
    }
    .card-mobile .stats p {
        font-size: 0.8em; /* Adjust font size for stat labels */
    }
    .evolveImg {
        width: 60px;
    }
}
